# Blacklist everything by default, so nothing is accidentally committed:
*

# Whitelist directories so we may recurse into them
!*/

# Ignore submodules
gh-pages/

# Whitelist the following files and directories:
!/.gitignore
!/CHANGELOG.md
!/LICENSE
!/README.md
!/build.gradle
!/config/**/*.xml
!/gradle.properties
!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties
!/gradlew
!/gradlew.bat
!/javadoc.options
!/scripts/coverity-scan
!/scripts/csslint
!/scripts/functions
!/scripts/jslint
!/scripts/push-src
!/scripts/release
!/scripts/update-doc
!/scripts/update-srcdoc
!/settings.gradle
!/src/*/java/**/*.java
!/src/*/java/**/lombok.config
!/src/*/resources/jdepend.properties
!/src/*/resources/logback.groovy
!/src/checkstyle/css/**/*.css
!/src/checkstyle/js/**/*.js
!/src/checkstyle/xslt/**/*.xsl
!/src/main/proto/**/*.proto
!/src/task/resources/stringtemplate/**/*.st
!/src/test/resources/**/*.bytes
!/src/test/resources/**/*.txt
