[submodule "wiki"]
  path = wiki
  url = https://github.com/universal-automata/liblevenshtein.wiki.git
[submodule "shared"]
  path = shared
  url = https://github.com/universal-automata/liblevenshtein-shared.git
